.actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.take-coins-action {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 5rem;
    width: 5rem;
    border: 0.1rem solid #fffff0;
    margin: 0.2rem;
    padding: 0.4rem;
    color: #b5b8c0;

    font-size: x-large;
}

.take-coins-action:hover {
    border: 0.1rem solid green;
    font-weight: bold;
}

.card-base {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 5rem;
    width: 5rem;
    border: 0.1rem solid #fffff0;
    margin: 0.2rem;
    padding: 0.4rem;
    color: #b5b8c0;
    font-size: x-large;
}

.card-base:hover {
    /* border: 0.1rem solid yellow; */
    /* font-weight: bold; */
}

.card-base-turn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 5rem;
    width: 5rem;
    border: 0.1rem solid green;
    margin: 0.2rem;
    padding: 0.4rem;
    color: #b5b8c0;
    font-size: x-large;
}

.card-base-turn:hover {
    border: 0.1rem solid yellow;
    font-weight: bold;
}


.card-specific-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b5b8c0;
    box-sizing: border-box;
    border: 0.1rem solid transparent;
    border-radius: 0.1rem;
    padding: 0.4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    order: 0;
    bottom: 50vh;
}

.counter-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #000000; */
    height: 5rem;
    width: 5rem;
    /* border: 0.1rem solid green; */
    /* margin: 0.2rem; */
    /* padding: 0.4rem; */
    color: #b5b8c0;
    font-size: x-large;
}

.counter-actions-specific {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 5rem;
    min-width: 5rem;
    border: 0.1rem solid green;
    margin: 0.2rem;
    padding: 0.4rem;
    color: #b5b8c0;
    font-size: x-large;
}

.counter-actions-specific:hover {
    border: 0.1rem solid yellow;
}
