.join-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #202123;
    cursor: default;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input {
    background-color: #444654;
    color: #fffff0;
    font-size: medium;
    border-radius: 0.2rem;
    border: 0.1rem solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0.6rem;
    margin: 0.4rem;
}

.input:focus {
    border: 0.1rem solid transparent;
    outline: none;
}

.input::placeholder {
    color: #8e8ea0;
}

.join-game-links {
    background-color: #000000;
    font-style: normal;
    text-decoration: none;
    font-size: large;
    color: #db3b7e;
    padding: 0.8rem;
    margin: 0.4rem;
    border: 0.1rem solid transparent;
    border-radius: 0.4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.join-game-links:hover {
    border: 0.1rem solid #fffff0;
}